<div id="contentBox">
    <header class="resultHeader">
        <h1 id="resultName"></h1>
        <h3 id="resultAddress"></h3>
    </header>
    <main class="hours-gallery-weather-div">
        <aside id="resultHours">
            <p id="hoursText">
            </p>
        </aside>
        <section id="gallery">
            <figure id="photo1" class="image image-fluid">
            </figure>
        </section>
        <aside id="resultWeather">
        </aside>
    </main>
    <footer>
        <h3 id="resultWebsite">
        </h3>
    </footer>
</div>