<div class="container">
    <header>
        <h2>Pathfinder <img src="/assets/arrow-icon.png" id="arrow-icon"></h2>
    </header>
    <main>
        <h1>{{activity}} Near Me</h1>
        <img src="/assets/tennis-icon.png" class="memberIcons">
    </main>
</div>