<script>
  var activityId = "{{ activityId }}";
  </script>
<nav class="navbar navbar-default">
  <div class="container-fluid members-nav">
    <div class="navbar-header">
      <a id="logout" class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <figure>
      <img src="/assets/arrow-icon-white.png" class="arrow-icon">
    </figure>
  </div>
</nav>

<div id="container">
  <div id="map"></div>
  <div id="sidebar">
    <h2>Results</h2>
    <ul id="places"></ul>
    <button id="more">Load more results</button>
  </div>
  <div id="locationWeather"> 
  </div>
</div>

<div id="contentBox">
  <h1 id="resultName">Name</h1>
  <h2 id="resultAddress">Address</h2>
  <aside id="resultHours">
    <p>
      Opening hours
    </p>
  </aside>
  <div id="gallery">
    <figure id="resultPhotos">photos</figure>
  </div>
  <aside id="resultWeather">Weather</aside>
  <h3 id="resultWebsite">website</h3>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/category.js"></script>

{{!-- script below should be a variable --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&libraries=places&callback=getLocation" async></script>

