<nav class="navbar navbar-default">
  <div class="container-fluid members-nav">
    <div class="navbar-header">
      <a id="logout" class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <figure>
      <img src="/assets/arrow-icon-white.png" id="arrow-icon">
    </figure>
  </div>
</nav>


<div id="map"></div>

<div id="container">
  <div id="sidebar">
    <h2>Results</h2>
    <ul id="places"></ul>
    <button id="more">Load more results</button>
  </div>
  <div id="locationWeather"> 
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/category.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&libraries=places&callback=getLocation" async></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>