<nav class="navbar navbar-default signup-login-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="signup-login-h1">Pathfinder<img src="assets/arrow-icon-white.png" class="signup-login-arrow-icon"></h1>
    </div>
  </div>
</nav>
<div class="signup-login-background">
  <div class="container signup-login-container">
    <div class="row signup-login-content">
      <div class="col-md-7">
        <h2 class="signup-login-h2">Login</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="signup-login-btn">Login</button>
        </form>
        <br>
        <p>New User? <a href="/" class="here"><strong>Sign Up</strong></a></p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>