<nav class="navbar navbar-default">
  <div class="container-fluid members-nav">
    <div class="navbar-header">
      <div class="row">
        <div class="col-md-6">
          <a id="logout" class="navbar-brand" href="/logout">
            Logout
          </a>
        </div>
        <div id="brand-icon" class="col-md-6">
          <figure>
            <img src="assets/arrow-icon-white.png" id="arrow-icon">
          </figure>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>
        <center>Welcome to <span id="welcome">Pathfinder </span><span class="member-name"></span></center>
      </h2>
    </div>
  </div>
</div>
<div class="figure-wrapper">
  <a class="activity-link" href="/members/category">
    <figure id="foodFig" class="animate__animated animate__bounceInLeft">
      <img class="memberIcons" src="./assets/food-icon.png" alt="food icon">
      <figcaption class="figArea"><span class="iconCaption">Restaurants</span></figcaption>
    </figure>
  </a>
  <a class="activity-link" href="/members/category">
    <figure id="golfFig" class="animate__animated animate__bounceInLeft">
      <img class="memberIcons" src="./assets/golf-icon.png" alt="golf icon">
      <figcaption class="figArea"><span class="iconCaption">Golf Courses</span></figcaption>
    </figure>
  </a>
  <a class="activity-link" href="/members/category">
    <figure id="gymFig" class="animate__animated animate__bounceInLeft">
      <img class="memberIcons" src="./assets/gym-icon.png" alt="gym icon">
      <figcaption class="figArea"><span class="iconCaption">Gyms</span></figcaption>
    </figure>
  </a>
  <a class="activity-link" href="/members/category">
    <figure id="tennisFig" class="animate__animated animate__bounceInLeft">
      <img class="memberIcons" src="./assets/tennis-icon.png" alt="tennis icon">
      <figcaption class="figArea"><span class="iconCaption">Tennis Courts</span></figcaption>
    </figure>
  </a>
  <a class="activity-link" href="/members/category">
    <figure id="waterparkFig" class="animate__animated animate__bounceInLeft">
      <img class="memberIcons" src="./assets/waterpark-image.png" alt="waterpark icon">
      <figcaption class="figArea"><span class="iconCaption">Water Parks</span></figcaption>
    </figure>
  </a>
  <a class="activity-link" href="/members/category">
    <figure id="ziplineFig" class="animate__animated animate__bounceInLeft">
      <img class="memberIcons" src="./assets/zipline-icon.png" alt="zipline icon">
      <figcaption class="figArea"><span class="iconCaption">Zipline Courses</span></figcaption>
    </figure>
  </a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>