<script>
  var activityId = "{{ activityId }}";
  </script>
<div class="container">
    <nav class="navbar navbar-expand-lg members-nav">
        <div class="container-fluid nav-flex">
            <a class="navbar-brand" href="/members">
                Pathfinder
            </a>
            <a href="/members">
                <figure>
                    <img src="/assets/arrow-icon-white.png" class="arrow-icon">
                </figure>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/members">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/members/category" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Activities
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Restaurants</a></li>
                            <li><a class="dropdown-item" href="#">Golf Courses</a></li>
                            <li><a class="dropdown-item" href="#">Gyms</a></li>
                            <li><a class="dropdown-item" href="#">Tennis Courts</a></li>
                            <li><a class="dropdown-item" href="#">Water Parks</a></li>
                            <li><a class="dropdown-item" href="#">Zipline Courses</a></li>
                        </ul>
                    </li>
                    <li id="logout-li" class="nav-item">
                        <a id="logout" class="nav-link" href="/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <h2 class="near-me-h2">Pathfinder <img src="/assets/arrow-icon-small.png" class="arrow-icon"></h2>
    </header>
    <main>
        <h1 class="near-me-h1">{{activity}} Near Me</h1>
        <img src="/assets/tennis-icon.png" class="memberIcons">
    </main>
</div>