* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #1e3c72;
  background: rgb(243, 243, 243);
  font-family: 'Montserrat', sans-serif;
}

/* small caps adds a distinctive element to the font style */
h1, 
h3,
.signup-login-h1,
.signup-login-btn,
.here,
.navbar-brand,
.nav-item,
.result-btn,
#welcome {
  font-variant: small-caps;
}

main {
  margin: 20px 30px;
}

p {
  font-size: 22px;
}

.near-me-h1 {
  font-size: 28px;
}

.signup-login-h2 {
  font-size: 35px;
}

a:hover {
  color: #3473B1;
}

form.signup,
form.login {
  margin-top: 5%;
}

.signup-login-nav {
  padding: 18px;
  color: #183262;
}

.signup-login-arrow-icon {
  margin: 6px; 
  filter: grayscale(35%);
  height: 35px;
  width: 35px;
}

.signup-login-background {
  margin: 0;
  height: 100%;
  background-size: cover;
  background-image: url('../assets/wallhaven-28ekym.jpg');
  /* filter: grayscale(15%); */
}

.signup-login-container {
  margin: 0 auto;
  padding: 100px 0;
}

.signup-login-content {
  margin: 0 auto;
  justify-content: center;
}

.form-group {
  font-size: 20px;
}

.form-control {
  margin: 10px 0;
  font-size: 18px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 50%, #2a5298 100%);
  filter: grayscale(10%);
  color: rgb(235, 235, 235);
  border: 1px solid rgb(47, 47, 47);
  border-radius: 8px;
  letter-spacing: 0.9px;
  transition: .15s ease-in-out;
}

.form-control:hover {
  opacity: 0.95;
  filter: grayscale(15%);
}

.form-control:focus {
  color: rgb(235, 235, 235);
  border: 1px solid rgb(47, 47, 47);
  box-shadow: 1px 1px 8px 2px #2a5298;
  opacity: 0.95;
}

.signup-login-btn {
  height: 64px;
  width: 128px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  background: rgb(218, 218, 218);
  color: #1e3c72;
  border: 2px solid #1e3c72;
  border-radius: 14px;
  font-size: 22px;
  line-height: 24px;
  padding: 15px;
  margin: 18px 0 0 0;
  text-decoration: none;
  transition: .15s ease-in-out;
}

.signup-login-btn:hover,
.signup-login-btn:focus {
  color: #1e3c72;
  background:rgb(243, 243, 243);
}

.here {
  border-radius: 4px;
  transition: 0.15s ease-in-out;
}

.here:hover,
.here:active {
  color: #1e3c72;
  text-decoration: none;
}

.nav-flex {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1600px;
}
/* this is an <a> tag */
.navbar-brand {
  font-size: 38px;
  color: rgb(243, 243, 243);
  margin: 0 5px;
  transition: .25s ease-in-out;
}

.navbar-brand:hover {
  color:rgb(218, 218, 218);
}

.path-background {
  /* background-image: url('/assets/path-background.jpg'); */
  height: 100%;
  /* filter: grayscale(50%); */
  background-size: cover;
}

.figure-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5% 0;
  height: auto;
  filter: blur(0px);
}

.memberIcons {
  border-radius: 50%;
  height: 185px;
  width: auto;
  cursor: pointer;
  margin: 1.5rem;
  box-shadow: 2px 2px 10px 2px rgb(77, 77, 77);
  transition: transform .3s ease-in-out;
}

.memberIcons:hover {
  transform: rotate(30deg);
}

.iconCaption {
  font-size: 1.75rem; 
  letter-spacing: 0.5px;
}

.figArea {
  text-align: center;
}

.activity-link {
  color: #1e3c72;
  transition: 0.25s ease-in-out;
}

.activity-link:hover {
  color: #346bca;
  text-decoration: none;
}

.members-nav {
  color:rgb(243, 243, 243);
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding: 26px;
  border: none !important;
  border-radius: none !important;
  box-shadow: 1px 2px 20px 0 #112B43;
}

.activity-nav {
  box-shadow: none;
}

#welcome-h2 {
  margin: 70px 10px auto;
  font-size: 35px;
}
/* links in the navbar */
.nav-item {
  height: 55px;
  width: 135px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: rgb(218, 218, 218);
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 22px;
  transition: 0.15s ease-in-out;
  margin: 4px;
  padding: 1px;
}

.nav-item:hover { 
  color:rgb(243, 243, 243);
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 1px 1px 8px 2px #9fc1ee;
  text-decoration: none;
}

.nav-link {
  color: rgb(218, 218, 218);
}

.nav-link:hover {
  color: inherit;
}

.active {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

.active:hover {
  color: rgb(243, 243, 243);
}

.arrow-icon {
  transition: transform .75s ease-in-out;
}

.arrow-icon:hover {
  transform: rotate(360deg);
}

.home-icon,
.logout-icon {
  opacity: 0.9;
  float: right;
  margin-left: 3px;
}

.activity-pg-icons {
  width: 45px;
  height: 45px;
  margin: 10px;
  box-shadow: 1px 1px 10px 1px rgb(49, 49, 49);
}

#explore {
  font-variant: normal;
  margin: 10px auto;
}

.map-container {
  width: 100%; 
  max-width: 1600px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.content-wrapper {
  height: 100%;
  max-width: 1600px;
  margin: 15px auto;
  padding: 0;
}

#container {
  height: 40%;
  display: flex;
  flex-flow: row wrap; 
}

#activity-li {
  width: 150px;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
  /* min-width: 400px; */
}

#sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* was ul, using id for specificity */
#places {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  flex-grow: 1;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

/* buttons to save results */
.result-btn {
  float: right;
  background: #2a5298;
  color: rgb(243, 243, 243);
  border: 1px solid #1e3c72;
  border-radius: 5px;
  padding: 2px 8px;
  font-style: 'Montserrat', 'sans-serif';
}
/* was button, using id for specificity */
#more {
  width: 100%;
  padding: 1rem;
  flex-grow: 0;
  cursor: pointer;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  font-size: 1.5rem;
  color: rgb(243, 243, 243);
  border: none;
}

#more:hover {
  color: rgb(218, 218, 218);
}

button:disabled {
  background-color: #9fc1ee;
  color: #c5d4f0;
  cursor: auto;
}

.resultHeader {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding: 10px;
}

#contentBox {
  height: auto;
  width: 100%;
  box-shadow: 1px 1px 10px 2px rgb(77, 77, 77);
}

.hours-gallery-weather-div {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 1600px;
  margin: 0 auto;
}

#resultName, #resultAddress {
  color: rgb(243, 243, 243);
  text-align: center;
  margin: 0;
  padding: 5px;
}

#resultAddress {
  font-variant: normal;
}

#resultHours{
  height: auto;
  width: auto;
  padding: 20px;
  margin-left: 10px;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  padding: 10px;
  width: auto;
}

#resultWeather {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  min-height: 200px;
}

#resultWebsite {
  padding: 10px;
  display: flex; 
  justify-content: center;
  flex-flow: row wrap;
}

#photo1 {
  margin: 1rem;
}

.resize {
  height: 280px;
  /* width: 300px; */
  max-width: 415px;
}

#savedActivities {
  height: auto;
  width: auto;
  flex-basis: content;
  margin: 2rem 0;
  padding: 20px;
  box-shadow: 1px 1px 8px 2px rgb(47, 47, 47);
}

#savedHeader {
  padding: 0 1rem;
}

#savedList {
  max-width: 30rem;
  height: 100%;
  margin: 1rem;
  padding: 0;
  border: 1px solid #1e3c72; 
}