p {
  font-size: 18px;
}

a:hover {
  color: #3473B1;
}

form.signup,
form.login {
  margin-top: 50px;
}

.signup-login-nav {
  background: #a4d1ff;
}

.form-group {
  font-size: 20px;
}

.signup-login-btn {
  height: 70px;
  width: 120px;
  background: #3473B1;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  padding: 15px;
  text-decoration: none;
}

.memberIcons {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 50px;
  box-shadow: 2px 2px 10px 2px rgb(77, 77, 77);
}

.iconCaption {
  font-size: 30px;
  font-weight: bold;
}

.figArea {
  text-align: center;
  height: 90px;
}

.figure-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}

.activity-link {
  color: rgb(78, 78, 78);
  text-decoration: none !important;
  transition: 0.15s ease-in-out;
}

.activity-link:hover {
  color: #3473B1;
}

.members-nav {
  display: flex;
  justify-content: space-between;
  background: #112B43;
  padding: 20px 35px;
  margin: 0;
  border: none;
  box-shadow: 2px 2px 2px 4px #112B43;
}

#logout {
  /* display: flex;
  align-self: flex-start; */
  font-weight: bold;
  background: #AFD687;
  border-radius: 50%;
}

#map {
  height: 50%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 5px 0;
  flex-grow: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  flex-grow: 1;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.25rem;
  cursor: pointer;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

button {
  width: 100%;
  padding: 1rem;
  flex-grow: 0;
  cursor: pointer;
  background: #1a73e8;
  font-size: 1.5rem;
  color: white;
  border: none;
}

button:hover {
  color: #c5d4f0;
}

button:disabled {
  background-color: #9fc1ee;
  color: #c5d4f0;
  cursor: auto;
}