form.signup,
form.login {
  margin-top: 50px;
}

.memberIcons {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 50px;
}

.iconCaption {
  font-size: 30px;
  font-weight: bold;
}

.figArea {
  text-align: center;
  height: 90px;
}

.figure-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}
