* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #112B43;
  background: rgb(243, 243, 243);
  font-family: 'Montserrat', sans-serif;
}

h1, 
h3,
.signup-login-h1,
.signup-login-btn,
.here,
.navbar-brand,
.nav-item,
#welcome {
  font-variant: small-caps;
}

.form-control.placeholder {
  color: rgb(218, 218, 218);
}

main {
  margin: 20px 30px;
}

p {
  font-size: 22px;
}

.near-me-h1 {
  font-size: 28px;
}

.signup-login-h2 {
  font-size: 35px;
}

input.placeholder {
  color: white;
}

a:hover {
  color: #3473B1;
}

form.signup,
form.login {
  margin-top: 50px;
}

.signup-login-nav {
  padding: 15px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  border: none;
  border-bottom: 2px 0 solid rgb(47, 47, 47);
  border-radius: 0;
  margin-bottom: 0;
}

.signup-login-arrow-icon {
  margin: 3px; 
}

.signup-login-background {
  margin: 0;
  height: 100%;
  background-size: cover;
  background-image: url('../assets/wallhaven-28ekym.jpg');
  filter: grayscale(25%);
}

.signup-login-container {
  margin: 0 auto;
  padding: 100px 0;
}

.signup-login-content {
  margin: 0 auto;
  justify-content: center;
}

.signup-login-h1 {
  text-align: left;
  color:rgb(243, 243, 243);
}

.form-group {
  font-size: 20px;
}

.form-control {
  margin: 10px 0;
  font-size: 18px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: rgb(235, 235, 235);
  border: 1px solid rgb(47, 47, 47);
  border-radius: 10px;
  letter-spacing: 0.9px;
  transition: .15s ease-in-out;
}

.form-control:hover {
  opacity: 0.95;
}

.form-control:focus {
  color: rgb(235, 235, 235);
  border: 1px solid rgb(47, 47, 47);
  box-shadow: 1px 1px 6px 2px #2a5298;
  opacity: 0.95;
}

.signup-login-btn {
  height: 64px;
  width: 128px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  background: rgb(218, 218, 218);
  color: #1e3c72;
  border: 2px solid #1e3c72;
  border-radius: 14px;
  font-size: 22px;
  line-height: 24px;
  padding: 15px;
  margin: 18px 0 0 0;
  text-decoration: none;
  transition: .15s ease-in-out;
}

.signup-login-btn:hover,
.signup-login-btn:focus {
  color: #1e3c72;
  background:rgb(243, 243, 243);
}

.here {
  border-radius: 4px;
  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.here:hover,
.here:active {
  color: #1e3c72;
}

.nav-flex {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}
/* this is an <a> tag */
.navbar-brand {
  font-size: 40px;
  color: rgb(243, 243, 243);
  transition: .25s ease-in-out;
}

.navbar-brand:hover {
  color:rgb(218, 218, 218);
}

.memberIcons {
  border-radius: 50%;
  height: 185px;
  width: 185px;
  cursor: pointer;
  margin: 20px 40px;
  filter: grayscale(10%);
  box-shadow: 2px 2px 10px 2px rgb(77, 77, 77);
  transition: .15s ease-in-out;
}

.memberIcons:hover {
  opacity: 0.8;
}

.iconCaption {
  font-size: 30px;
  letter-spacing: 0.5px;
}

.figArea {
  text-align: center;
  height: 90px;
}

.figure-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;
  padding: 40px;
}

.activity-link {
  color: #1e3c72;
  transition: 0.25s ease-in-out;
}

.activity-link:hover {
  color: #346bca;
  text-decoration: none;
}

.activity-link:hover > .memberIcons {
  box-shadow: 2px 2px 10px 2px #1e3c72;
}
.members-nav {
  color:rgb(243, 243, 243);
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding: 26px;
  margin: 0;
  border: none !important;
  border-radius: none !important;
  box-shadow: 1px 2px 20px 0 #112B43;
}

.activity-nav {
  box-shadow: none;
}

#welcome-h2 {
  margin: 70px 10px auto;
  font-size: 35px;
}
/* links in the navbar */
.nav-item {
  height: 50px;
  width: 124px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: rgb(218, 218, 218);
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 22px;
  transition: 0.15s ease-in-out;
  margin: 4px 20px;
  padding: 1px 3px;
}

.nav-item:hover {
  /* background: rgb(243, 243, 243); */
  /* color: #112B43; */
  color:rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  text-decoration: none;
}

.nav-link {
  color: rgb(218, 218, 218);
}

.nav-link:hover {
  text-overflow: initial;
  color: inherit;
}

.dropdown-item {
  font-size: 22px;
  font-variant: normal;
}

.active {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

.active:hover {
  color: rgb(243, 243, 243);
}

.navbar-toggler {
  color: rgb(243, 243, 243);
  /* background: transparent; */
  border: 2px solid rgb(235, 235, 235);
  z-index: 1;
}

.navbar-toggler-icon {
  color: rgb(243, 243, 243);
  background:transparent;
  z-index: 2;
}

.arrow-icon {
  transition: transform .75s ease-in-out;
}

.arrow-icon:hover {
  transform: rotate(360deg);
}

.activity-pg-icons {
  width: 45px;
  height: 45px;
  margin: 10px;
  box-shadow: 1px 1px 10px 1px rgb(49, 49, 49);
}

#explore {
  font-variant: normal;
  margin: 10px auto;
}

.map-container {
  width: 100%; 
  display: flex;
  flex-flow:row wrap;
  /* display: grid;
  grid-template-columns: 20% repeat(5); */
}

.content-wrapper {
  height: 100%;
  margin: 15px;
  padding: 0;
}

#container {
  height: 40%;
  display: flex;
  flex-flow: row wrap; 
}

#activity-li {
  width: 150px;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1rem;
  /* width: 40%; */
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* flex-flow: column nowrap; */
}

/* was ul, using id for specificity */
#places {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  flex-grow: 1;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* font-size: 1.25rem; */
  cursor: pointer;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

/* buttons to save results */
.result-btn {
  float: right;
  background: #2a5298;
  color: rgb(243, 243, 243);
  border: 1px solid #1e3c72;
  border-radius: 5px;
  padding: 2px 8px;
}
/* was button, using id for specificity */
#more {
  width: 100%;
  padding: 1rem;
  flex-grow: 0;
  cursor: pointer;
  /* background: #1a73e8; */
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  font-size: 1.5rem;
  color: rgb(243, 243, 243);
  border: none;
}

#more:hover {
  /* color: #c5d4f0; */
  color: rgb(218, 218, 218);
}

button:disabled {
  background-color: #9fc1ee;
  color: #c5d4f0;
  cursor: auto;
}

.resultHeader {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding: 10px;
}

#contentBox {
  height: 98%;
  width: 100%;
  /* margin: 15px; */
  /* padding: 10px; */
  /* background: rgb(218, 218, 218); */
  box-shadow: 1px 1px 10px 2px rgb(77, 77, 77);
}

.hours-gallery-weather-div {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 1500px;
  margin: 0 auto;
}

#resultName, #resultAddress {
  color: rgb(243, 243, 243);
  text-align: center;
  margin: 0;
  padding: 5px;
  /* display: block; */
}

#resultAddress {
  font-variant: normal;
}

#resultHours{
  /* float: left; */
  /* height: 280px; */
  height: auto;
  width: auto;
  padding: 20px;
  margin-left: 10px;
  /* width: 20%; */
  /* margin-left: 50px; */
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* float: left; */
  /* border: 1px solid blue; */
  /* width: 50%; */
  /* max-height: 280px; */
  height: 100%;
  padding: 15px;
  width: auto;
  /* margin-left: 50px; */
}

#resultWeather {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  min-height: 200px;
  /* width: auto; */
  /* display: inline-block; */
  /* clear: both; */
}

#resultWebsite {
  padding: 5px;
  /* clear: left; */
  display: flex; 
  justify-content: center;
  flex-flow: row wrap;
  /* text-align: center; */
}

#photo1 {
  margin: 0 auto;
  /* width: 100%; 
  clear: left;
  text-align: center; 
  float: left;
  margin-right: 50px; */
}

.resize {
  height: 280px;
  width: 300px;
}

#savedActivities {
  margin: 2rem;
}

#savedHeader {
  padding: 0 1rem;
}

#savedList {
  max-width: 30rem;
  height: 100%;
  margin: 0;
}