form.signup,
form.login {
  margin-top: 50px;
}

.memberIcons {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 50px;
  box-shadow: 2px 2px 10px 2px rgb(77, 77, 77);
}

.iconCaption {
  font-size: 30px;
  font-weight: bold;
}

.figArea {
  text-align: center;
  height: 90px;
}

.figure-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}

.activity-link {
  color: rgb(78, 78, 78);
  text-decoration: none !important;
  transition: 0.15s ease-in-out;
}

.activity-link:hover {
  color: #3473B1;
}
.members-nav {
  background: #112B43;
  padding: 20px 35px;
  border: none;
  box-shadow: 2px 2px 2px 4px #112B43;
}

#logout {
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  background: #AFD687;
  border-radius: 50%;
  
}
/* #foodFig {
  float: left;
  margin-left: 15%;
  margin-right: 10%;
}

#golfFig {
  float: left;
  margin-right: 10%;
}

#tennisFig {
  float: left;
  margin-left: 15%;
  margin-right: 10%;
}

#waterparkFig {
  float: left;
  margin-right: 10%;
}

#gymFig {
  float: left;
  margin-right: 10%;
}

#ziplineFig {
  float: left;
  margin-right: 10%;
} */