body {
  color: #112B43 !important;
  background: rgb(243, 243, 243);
  font-family: 'Montserrat', sans-serif;
}

h1, 
h2, 
h3,
.signup-login-h1,
.signup-login-btn,
.here,
.navbar-brand,
.nav-item
#welcome {
  font-variant: small-caps;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 5px 0;
  flex-grow: 0;
}

p {
  font-size: 18px;
}
/* was ul, using id for specificity */
#places {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  flex-grow: 1;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.25rem;
  cursor: pointer;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

.signup-login-h2 {
  font-size: 35px;
}

#welcome-h2 {
  font-size: 35px;
}

input.placeholder {
  color: white;
}

a:hover {
  color: #3473B1;
}

form.signup,
form.login {
  margin-top: 50px;
}

.signup-login-nav {
  padding: 15px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  border: none;
  border-bottom: 2px 0 solid rgb(47, 47, 47);
  border-radius: 0;
}

.signup-login-arrow-icon {
  margin: 3px; 
}

.signup-login-container {
  margin: 50px;
}

.signup-login-h1 {
  color:rgb(243, 243, 243);
}

.form-group {
  font-size: 20px;
}

.form-control {
  font-size: 18px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: rgb(235, 235, 235);
  border: 1px solid rgb(47, 47, 47);
  border-radius: 10px;
  letter-spacing: 0.9px;
  /* transition: .15s ease-in-out; */
}

.form-control:hover
{
  opacity: 0.95;
  /* box-shadow: 0.7px 0.7px 6px 1px #112B43; */
}

.form-control:focus {
  border: 1px solid rgb(47, 47, 47);
  box-shadow: 1px 1px 5px 1px #2a5298;
  opacity: 0.95;
}

.signup-login-btn {
  height: 64px;
  width: 128px;
  /* background: #0a2351; */
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  background: rgb(218, 218, 218);
  color: #1e3c72;
  /* border: 2px solid rgb(47, 47, 47); */
  border: 2px solid #1e3c72;
  border-radius: 14px;
  font-size: 22px;
  line-height: 24px;
  padding: 15px;
  margin: 18px 0 0 0;
  text-decoration: none;
  transition: .15s ease-in-out;
}

.signup-login-btn:hover,
.signup-login-btn:focus {
  color: #1e3c72;
  /* border: 1px solid #1e3c72; */
  background:rgb(243, 243, 243);
  /* font-weight: bold; */
  /* opacity: 0.8; */
  /* color:rgb(243, 243, 243);
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
}

.here {
  border-radius: 4px;
  transition: 0.15s ease-in-out;
  /* text-decoration: none; */
}

.here:hover,
.here:active {
  color: #1e3c72;
  text-decoration: none;
}

.nav-flex {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}
/* this is an a tag */
.navbar-brand {
  font-size: 35px;
  color: rgb(243, 243, 243);
}

.navbar-brand:hover {
  color:rgb(218, 218, 218);
}

.memberIcons {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 20px 40px;
  box-shadow: 2px 2px 10px 2px rgb(77, 77, 77);
}

.iconCaption {
  font-size: 30px;
  font-weight: bold;
}

.figArea {
  text-align: center;
  height: 90px;
}

.figure-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;
  padding: 40px;
}

.activity-link {
  color: rgb(78, 78, 78);
  text-decoration: none !important;
  transition: 0.15s ease-in-out;
}

.activity-link:hover {
  color: #2a5298;
}

.members-nav {
  /* background: #112B43; */
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding: 26px;
  margin: 0;
  border: none !important;
  border-radius: none !important;
  /* box-shadow: 2px 2px 0px 2px #112B43; */
}

.near-me-h1 {
  font-size: 35px;
}

#welcome-h2 {
  margin-top: 50px;
}

#welcome {
  font-weight: lighter;
}

/* links in the navbar */
.nav-item {
  /* display: grid; */
  height: 50px;
  width: 124px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: rgb(218, 218, 218);
  border: 1px solid transparent;
  border-radius: 8px;
  /* place-items: center; */
  text-align: center;
  /* justify-items: center; */
  font-size: 22px;
  transition: 0.15s ease-in-out;
  margin: 4px 12px;
  padding: 7px 3px 5px 3px;
}

.nav-item:hover {
  /* background: rgb(243, 243, 243); */
  /* color: #112B43; */
  color:rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  text-decoration: none;
}

.nav-link {
  color: rgb(218, 218, 218);
}

.nav-link:hover {
  color: inherit;
  text-decoration: none;
}

.active {
  /* background:transparent; */
  color: rgb(235, 235, 235);
  text-decoration: none;
  /* color: #112B43; */
}

.active:hover {
  /* background: #112B43; */
  color: rgb(243, 243, 243);
}
.navbar-toggler {
  background: transparent;
  border: none;
}

/* #logout {
  background: transparent;
  color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 8px;
  font-variant: small-caps;
  transition: 0.15s ease-in-out;
  margin: 0 8px;
} */
/* the brand arrow */
/* #arrow-icon {
  margin: 3px;
} */

.arrow-icon {
  margin: 3px;
  transition: transform .75s ease-in-out;
}

.arrow-icon:hover {
  transform: rotate(360deg);
}

#near-me-h1 {
  font-size: 35px;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#potato {
  height: 50%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 40%;
  display: flex;
}

#sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

/* was button, using id for specificity */
#more {
  width: 100%;
  padding: 1rem;
  flex-grow: 0;
  cursor: pointer;
  background: #1a73e8;
  font-size: 1.5rem;
  color: rgb(243, 243, 243);
  border: none;
}

#more:hover {
  color: #c5d4f0;
}

button:disabled {
  background-color: #9fc1ee;
  color: #c5d4f0;
  cursor: auto;
}